@import "colors";

#container3-fluid{
  border: {
  width: .15em;
  style: solid;
  color: $bordercolor;
  radius: 3px;
  }
  background-color:$rightbackcolor;
  height:267px;
  padding: 5% 5% 1% 7.5%;
  overflow: scroll;
}