@import "colors";


nav {
  text-align:left;
  padding: 100px 0 0 0;


  ul{
    border: {
    width:.15em;
    style: solid;
    color:$bordercolor;
    radius:3px;
    }
    // padding: 1.25em 0 1.25em 1em;
    background-color: $navcolor;
  }
  li{
    display:inline-block;
    padding: 10px;
    font-size: 2em;
  }
 



}